/*Big screen*/
@media only screen and (min-device-width: 1024px) {

}

/*Tablet pc*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}

/*Mobile*/
@media only screen and (max-device-width: 767px) {
  footer .wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .contact-info-mobile {
    order: 1;
  }
  .site-info {
    order: 2;
    margin-top: 20px;
  }
}