body {
  direction: rtl;
  unicode-bidi: embed;
}

aside#secondary {
  float: left !important;
}
div#primary {
  float: right !important;
}
.site-footer .widget .product_list_widget li a.remove, .widget .product_list_widget li a.remove {
  float: left;
}
.single-product .woocommerce-product-rating .star-rating {
  float: right;
  margin-left: .25em;
  margin-right: inherit;
}
.widget_product_search input[type=submit] {
  left: .5em;
  right: inherit;
}
.widget_product_search .search-field {
  padding-left: 100px;
  padding-right: 10px;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
  float: right;
  margin-left: 3.8%;
  margin-right: inherit;
}

*:after {
    content: "\200E‎";
}