/* 
Theme Name:		 Twenty Seventeen Child
Theme URI:		 http://www.websitebundles.com/
Description:	 Theme by Site <a href=\"http://childthemegenerator.com/\">http://childthemegenerator.com/</a>
Author:			 WebsiteBundles
Author URI:		 http://childthemegenerator.com/
Template:		 twentyseventeen
Version:		 1.0.0
Text Domain:	 Twenty-Seventeen-child
-------------------------------------------------------------- */ 

/* =Theme customization starts here
------------------------------------------------------- */

/*Footer Contacts Styles*/
.contact-info {
    float: right;
    padding: 0.7em 0 0;
    width: 35%;
}
.contact-phone,
.contact-email,
.contact-button {
    clear: both;
    display: block;
}
.contact-button a,
.contact-phone-mobile a,
.contact-email-mobile a,
.contact-button-mobile a {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    margin-top: 5px;
}
.contact-button-mobile a,
.contact-phone-mobile a,
.contact-email-mobile a {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.contact-info-mobile {
    width: 100%;
}

.single-product form.cart {
    margin-bottom: 10px;
}